[submodule "external/chordify"]
	path = external/chordify
	url = https://github.com/1ucas/chordify
[submodule "external/orchidas-Chord-Recognition"]
	path = external/orchidas-Chord-Recognition
	url = https://github.com/orchidas/Chord-Recognition
[submodule "external/instrument-prediction"]
	path = external/instrument-prediction
	url = https://github.com/biboamy/instrument-prediction
[submodule "external/predominant-instrument-recognition"]
	path = external/predominant-instrument-recognition
	url = https://github.com/nii-yamagishilab/predominant-instrument-recognition
[submodule "external/musicpractice"]
	path = external/musicpractice
	url = https://github.com/atinm/musicpractice
[submodule "external/Guitariz"]
	path = external/Guitariz
	url = https://github.com/Guitariz/Guitariz
[submodule "external/libcantus"]
	path = external/libcantus
	url = https://github.com/libraz/libcantus
[submodule "external/basic-pitch"]
	path = external/basic-pitch
	url = https://github.com/spotify/basic-pitch
[submodule "external/basic-pitch-ts"]
	path = external/basic-pitch-ts
	url = https://github.com/spotify/basic-pitch-ts
